@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: theme("colors.primary");
    --black: theme("colors.black");
    --grayed-out: theme("colors.grayed-out");
    --white-neutral: theme("colors.white.neutral");
    --white-active: theme("colors.white.active");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    @apply bg-black;
}

a {
    color: inherit;
    text-decoration: none;
    @apply hover:text-primary hover:underline;
}

@layer components {
    .active-page {
        @apply font-bold text-primary;
    }

    .hide-long-text {
        @apply max-w-[25ch] overflow-hidden text-ellipsis whitespace-nowrap;
    }

    .player-controller-icon {
        @apply text-gray-400 hover:text-white-neutral;
    }
}
