@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    @apply bg-black;
}

a {
    color: inherit;
    text-decoration: none;
}

@layer components {
    .button {
        @apply rounded bg-white p-2 text-black;
    }

    .hide-long-text {
        @apply max-w-[25ch] overflow-hidden text-ellipsis whitespace-nowrap;
    }

    .player-controller-icon {
        @apply text-gray-400 hover:text-white;
    }
}
