@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: theme("colors.primary");
    --white-bright: theme("colors.white.bright");

    --gray-lightest: theme("colors.gray.lightest");
    --gray-light: theme("colors.gray.light");
    --gray-medium: theme("colors.gray.medium");

    --black-lightest: theme("colors.black.lightest");
    --black-light: theme("colors.black.light");
    --black-medium: theme("colors.black.medium");
    --black-heavy: theme("colors.black.heavy");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    @apply bg-black-medium;
}

a {
    color: inherit;
    text-decoration: none;
    @apply hover:text-white-bright hover:underline;
}

@layer components {
    .icon {
        @apply text-gray-lightest hover:text-white-bright;
    }

    .range-slider {
        @apply h-1 w-full cursor-pointer appearance-none rounded-full text-[0px] hover:text-[8px];
    }

    .card {
        @apply bg-black-light p-2 text-gray-lightest shadow-md shadow-black-heavy;
    }
}
