@tailwind base;
@tailwind components;
@tailwind utilities;

@import "readme.css";

:root {
    --primary: theme("colors.primary");
    --white-bright: theme("colors.white.bright");

    --gray-lightest: theme("colors.gray.lightest");
    --gray-light: theme("colors.gray.light");
    --gray-medium: theme("colors.gray.medium");

    --black-lightest: theme("colors.black.lightest");
    --black-light: theme("colors.black.light");
    --black-medium: theme("colors.black.medium");
    --black-heavy: theme("colors.black.heavy");

    --green-main: theme("colors.green.main");
    --green-deeper: theme("colors.green.deeper");
    --green-medium: theme("colors.green.medium");
    --green-darker: theme("colors.green.darker");
    --green-darkest: theme("colors.green.darkest");
}

@layer base {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html,
    body {
        max-width: 100vw;
        @apply bg-black-medium;
    }

    a {
        color: inherit;
        text-decoration: none;
        @apply hover:text-white-bright hover:underline;
    }
}

@layer components {
    .icon {
        @apply text-gray-lightest hover:text-white-bright;
    }

    .range-slider {
        @apply h-1 w-full cursor-pointer appearance-none rounded-full text-[0px] hover:text-[8px];
    }

    .card {
        @apply bg-black-light p-2 text-gray-lightest shadow-md shadow-black-heavy;
    }

    .button-white {
        @apply rounded-full bg-white-bright px-4 py-1 font-bold text-black-heavy hover:text-primary;
    }
    .track-list-grid-columns {
        @apply grid grid-cols-12 items-center gap-10;
    }
}
